.profile {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 30px 70px;
}

.form {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 410px;
  height: 483px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 107px;
}

.form__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  color: #FFFFFF;
}

.form__span {
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  position: absolute;
  top: 16px;
}

.form__input {
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: right;
  width: 410px;
  padding: 16px 0;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid #424242;
  background-color: transparent;
  color: #fff;
}

.form__input_error_email {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3465;
  position: absolute;
  top: 47px;
}

.form__input_error_name {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3465;
  position: absolute;
  top: -20px;
}

.form__navigate {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 96px;
}

.form__navigate__button-edit {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.form__navigate__button-exit {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ee3465;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .form {
    gap: 81px;
    margin-top: 160px;
  }

  .form__navigate {
    margin-top: 112px;
  }
}

@media screen and (max-width: 500px) {

  .form__input {
    width: 260px;
  }

  .form {
    width: 260px;
    margin: 0;
    gap: 63px;
  }

  .profile {
    padding: 70px 30px 70px;
  }

  .form__navigate {
    margin-top: 299px;
  }
}