.SearchForm {
  background: #202020;
  width: 100%;
}

.SearchForm__container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 70px 70px 10px 70px;
  min-width: 320px;
  max-width: 1280px;
}

.SearchForm__block {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  background: #2F2F2F;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SearchForm__search {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  margin-left: 19px;
}

.SearchForm__film {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 760px;
  margin-left: 10px;
  color: #8B8B8B;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

}

.SearchForm__searchButton {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 59px;
  height: 34px;
  border-radius: 20px;
  background: #4285F4;
  border: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
  cursor: pointer;
}

.SearchForm__searchButton:hover {
  opacity: 0.8;
}

.SearchForm__contfilm {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 40px;
  border-left: solid 1px #424242;
  align-items: center;
  padding-left: 29px;
  gap: 14px;
}

.SearchForm__flashFilm {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.SearchForm__line {
  margin: 0;
  padding: 0;
  margin-top: 69px;
  background: #424242;
  height: 1px;
  width: 100%;
}

.SearchForm__switch-off {
  display: inline-block;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background: #343434;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}

.SearchForm__switch-off:hover {
  opacity: 0.8;
}

.SearchForm__switch-off::after {
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 18px;
  background: #A0A0A0;
  top: 2px;
  left: 2px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.SearchForm__switch-on::after {
  left: 18px;
  background: #2BE080;
}

/* .SearchForm__contfilm_1 {
  display: block;
} */

.SearchForm__contfilm_2 {
  display: none;
}

@media screen and (max-width: 1180px) {

  .SearchForm__searchButton {
    margin-right: 20px;
  }

  .SearchForm__container {
    padding: 80px 30px 10px;
  }

  .SearchForm__block {
    width: 100%;
  }

  .SearchForm__line {
    margin-top: 109px;
  }

  .SearchForm__contfilm {
    gap: 15px;
    padding-left: 19px;
    margin-right: 20px;
  }

  /* .SearchForm__searchButton {
    width: 18%;
  } */

}

@media screen and (max-width: 728px) {
  .SearchForm__container {
    padding: 80px 10px 10px 10px;
  }

  .SearchForm__contfilm_1 {
    display: none;
  }

  .SearchForm__contfilm_2 {
    display: flex;
    border: 0;
    justify-content: center;
    margin-top: 35px;
  }

  .SearchForm__line {
    margin-top: 34px;
  }

  .SearchForm__search {
    display: none;
  }

  .SearchForm__film {
    font-size: 14px;
    line-height: 20px;
    margin-left: 19px;
  }

  .SearchForm__flashFilm {
    font-size: 11px;
    line-height: 18px;
  }
}