.savedMovies {
  width: 100%;
}

.savedMovies__container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 1280px;
}

.moviesCardList__elements_savedMovies {
  height: 540px;
}

.movies__more_hide {
  display: none;
}

@media screen and (max-width: 1180px) {
  .moviesCardList__elements_savedMovies {
    min-height: 648px;
  }
}

@media screen and (max-width: 728px) {
  .moviesCardList__elements_savedMovies {
    min-height: 716px;
  }
}