.register {
  margin: 0;
  max-width: 1280px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px 70px;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.register__navigate {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  margin-top: 111px;
}

.register__response-error {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  color: #FF004C;
  text-align: center;
}

.register__input-error {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  text-align: left;
  color: #ee3465;
  position: absolute;
  top: 47px;
}

@media screen and (max-width: 800px) {
  .register {
    height: 890px;
  }
}

@media screen and (max-width: 500px) {
  .register {
    padding: 56px 30px 0;
    height: 730px;
  }

  .register__navigate {
    margin-top: 191px;
    gap: 15px;
  }
}






.login {
  width: 100%;
}

.login__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px 70px;
}

.register__form {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 396px;
  height: 483px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.register__regestration {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.register__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  text-decoration: none;
  padding-left: 6px;
}

.register__link:hover {
  opacity: 0.7;
}

.register__inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  position: relative;
}

.register__span {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8b8b8b;
}

.register__input {
  padding: 6px 0;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid #424242;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background-color: transparent;
  color: #fff;
}

.register__form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 7px;
}

.form__navigate__login {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  margin-top: 181px;
}


@media screen and (max-width: 800px) {
  .register__form {
    gap: 36px;
    margin-top: 162px;
  }

  .form__navigate__login {
    margin-top: 182px;
  }

  .register__form-container {
    margin-top: 5px;
  }

  .login {
    height: 1028px;
  }
}

@media screen and (max-width: 500px) {

  .register__input {
    width: 260px;
    font-size: 14px;
    line-height: 17px;
  }

  .register__form {
    width: 260px;
    margin: 0;
    gap: 46px;
    align-items: center;
  }

  .prologinfile {
    padding: 70px 30px 70px;
  }

  .form__navigate__login {
    margin-top: 260px;
    gap: 15px;
  }

  .register__form-container {
    margin-top: 35px;
  }

  .login {
    height: 780px;
  }

  .form__navigate__button {
    width: 260px;
    height: 45px;
  }

  .register__regestration {
    font-size: 12px;
    line-height: 15px;
  }

  .register__link {
    font-size: 12px;
    line-height: 15px;
  }


  .login__container {
    padding: 56px 30px 70px;
  }
}