.promo {
  background-color: #073042;
  width: 100%;
}

.promo__container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  height: 560px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  padding-top: 50px;
}

.promo__text {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
  width: 626px;
  position: relative;
  left: 70px;
  top: 0px;
}

.promo__img {
  margin: 0;
  padding: 0;
  width: 722px;
  height: 244px;
  position: relative;
  top: 100px;
  right: -489px;
}

/*1250px*/

@media screen and (max-width: 1250px) {
  .promo__img {
    right: -400px;
  }
}

/*1180px*/

@media screen and (max-width: 1180px) {
  .promo__text {
    left: 150px;
  }

}

/*1160px*/

@media screen and (max-width: 1160px) {

  .promo__img {
    right: -300px;
  }
}

/*1060px*/

@media screen and (max-width: 1060px) {
  .promo__text {
    left: 0px;
    top: 0px;
    width: 680px;
    text-align: center;
  }

  .promo__img {
    left: 0px;
    top: 0px;
    width: 680px;
    height: 230px;
    margin-top: 140px;
  }

  .promo__container {
    width: 100%;
    padding-top: 300px;
    height: 844px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*728px*/

@media screen and (max-width: 728px) {
  .promo__text {
    font-size: 31px;
    line-height: 39px;
    width: 300px;
  }

  .promo__img {
    width: 320px;
    height: 230px;
    margin-top: 60px;
  }

  .promo__container {
    padding-top: 183px;
    padding-bottom: 40px;
    height: auto;
  }
}

/*350px*/

@media screen and (max-width: 350px) {
  .promo__img {
    object-fit: cover;
  }
}